<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>ELECTION MANAGEMENT</h1>
<div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <br>
        <button type="submit" class="btn btn-success"><a href="/app/registration/">voters reg</button>
        <br>
        <br>
        <button type="submit" class="btn btn-success"><a href="/app/login/">admin login</button>
        <br>
        <br>
        <button type="submit" class="btn btn-success"><a href="/app/voterlogin/">voters login</button>
  </div>
  </div>

</body>
</html>
