<!DOCTYPE html>
<html lang="en">

<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="seydali">
    <meta name="description" content="Hi there take a peek at my website,I'm a web dev, python developer, data scientist">
    <meta name="keywords" content="free webdesigners in kollam, web designers, data scientist in kerala, kollam , kollamkaran, mallu tech lover, personal website, tech lover, data engineer,  Data-Analyst, guitarist musician in kollam, 
     ">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>







    <title>blue bay</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    
    <!-- dev icons -->
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="shortcut icon" href="images/icon.svg" type="image/x-icon">
    
    <link rel="stylesheet" href="css/swiper.min.css">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    
    <link rel="stylesheet" href="thankyou.html">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Raleway|Alata|Roboto|Open+Sans:300&display=swap"
        rel="stylesheet">
        <script src="js/swiper.min.js"></script>
    <meta name="theme-color" content="#090a20" />

</head>

<body id="top"  >
        <header>


            <nav class="navbar" >
                <span class="navbar-toggle" id="js-navbar-toggle">
                    <i class="fas fa-bars"></i>
                </span>
                <a href="#" class="logo" >logo</a>
                <ul class="main-nav" id="js-menu">
                    <li>
                        <a href="/app/h/" class="nav-links">Home</a>
                    </li>
                    <li>
                        <a href="/app/registration/" class="nav-links">voter's registration</a>
                    </li>
                    <li>
                        <a href="/app/adminreg/" class="nav-links">admin registartion</a>
                    </li>
                    <li>
                        <a href="/app/candidate/" class="nav-links">candidate registration</a>
                    </li>
                    <li>
                        <a href="/app/login/" class="nav-links">admin login</a>
                    </li>
                   
                </ul>
            </nav>


            <div class="landing-text" id="home">
                <h6> ELECTION MANAGEMENT</h6> <br>

                <!-- animated h6 -->
                <!--     -->
                    <!-- <span class="txt-type" data-wait=500ms data-words='["kollam","anchal","ernakulam"]'></span> -->
                   
                    <h6 style="color: white">Analyzing and visualizing data to make better decision and a better tommorrow. </h6>
                </h6>
            </div>
        </header>
    

    <!-- particles backdrop script -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="js/app.js"></script>


    <!-- end scripts -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- aos -->
    <script>
        AOS.init();
    </script>
    <!-- end scripts -->

 


    <script src="js/swiper.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
